CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
app.indexPage = ''

database.default.hostname = localhost
database.default.database = sagras
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306

security.tokenName = csrf_token_name
security.cookieName = csrf_cookie_name
security.expires = 7200
